body {
    background-color: coral;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    width: 350px;
}

.login {
    display: block;
    padding-top: 50px;
    max-width: 300px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    font-size: 16px;
}

.linkButton {
    color: black;
    background-color: coral;
    border-color: black;
    text-decoration-color: none; 
    text-decoration-line: none;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    max-width: 300px;
    margin-top: 50px;
}

.linkButton:hover {
    background-color: coral;
    color:black;
    align-content: center;
    border-color: black;
    text-decoration-color: none; 
    text-decoration-line: none;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: black;
    text-decoration-color: none; 
    text-decoration-line: none;
    display: block;
    text-align: center;
}

a:hover {
    text-align: center;
    color: black;
    text-decoration-color: none; 
    text-decoration-line: none;
    font-size: 16px;
}

.signup {
    margin-top: 55px;
    text-align: center;
    align-content: center;
}