<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/all.css">
    <link rel="stylesheet" href="../plugins/css/bootstrap.min.css">
    <title>Health Track - Registro</title>
  </head>
  <body>
    <div class="register-parent">
      <div class="register">
        <div class="title">
          <img src="/image/LogoMarca.svg" alt="">
        </div>
        <form>
          <div class="form-group">
            <label for="name">Nome</label>
            <input type="text" class="form-control" id="name" placeholder="Nome completo">
          </div>
          <div class="form-group">
            <label for="age">Idade</label>
            <input type="date" class="form-control" id="age"
              placeholder="Idade">
          </div>
          <div class="form-group">
            <label for="genre">Gênero</label>
            <select class="form-control" id="genre">
              <option>Feminino</option>
              <option>Masculino</option>
            </select>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input type="email" class="form-control" id="email"
              placeholder="Digite seu e-mail para cadastro">
          </div>
          <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" class="form-control" id="password"
              placeholder="Digite sua senha para cadastro">
          </div>
          <div class="linkbutton">
            <a class="btn" href="/views/dashboard.html">Cadastrar</a>
          </div>
        </form>
      </div>
    </div>

    <script src="../plugins/js/bootstrap.min.js"></script>
  </body>
</html>